## Files Merging

In [4]:
'''
Data:2018-10-30
Author: Kai Zhang
Stevens Intitute of Technology
Description:merge multiple files into a single csv file
'''
import pandas as pd
import os
Folder_Path = r'C:\Users\yongk\Documents\PythonLearning\Steam Data Analysis\Data'          
#要拼接的文件夹及其完整路径，注意不要包含中文
SaveFile_Path =  r'C:\Users\yongk\Documents\PythonLearning\Steam Data Analysis\Data'       
#拼接后要保存的文件路径
SaveFile_Name = r'game_data_all.csv'              
#合并后要保存的文件名
 
#修改当前工作目录
os.chdir(Folder_Path)
#将该文件夹下的所有文件名存入一个列表
file_list = os.listdir()
 
#读取第一个CSV文件并包含表头
df = pd.read_csv(Folder_Path +'\\'+ file_list[0])   #编码默认UTF-8，若乱码自行更改
 
#将读取的第一个CSV文件写入合并后的文件保存
df.to_csv(SaveFile_Path+'\\'+ SaveFile_Name,encoding="utf_8_sig",index=False)
 
#循环遍历列表中各个CSV文件名，并追加到合并后的文件
for i in range(1,len(file_list)):
    df = pd.read_csv(Folder_Path + '\\'+ file_list[i])
    df.to_csv(SaveFile_Path+'\\'+ SaveFile_Name,encoding="utf_8_sig",index=False, header=False, mode='a+')

## Data Formatting

In [1]:
# Data Formatting
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('C:/Users/yongk/Documents/PythonLearning/Steam Data Analysis/Data/game_data_all.csv')
# remove the unused column which is generated when merging multiple files
data=data.drop(['Unnamed: 0'], axis=1)
# sorting by first name 
data.sort_values("names", inplace = True) 
# dropping ALL duplicte values 
data.drop_duplicates(subset ="names", 
                     keep = False, inplace = True)

In [6]:
len(data)

1990

In [7]:
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import wordnet
import numpy as np

stop_words = stopwords.words('english')
stop_words.append("game")

wordnet_lemmatizer = WordNetLemmatizer()
data = pd.read_csv("C:/Users/yongk/Documents/PythonLearning/Steam Data Analysis/Data/game_data_all.csv", header=0)

review = data["review"].values.tolist()
helpfuls = data["marked as helpful"].values.tolist()

pattern = r'\w[\w\'-]*\w'

def get_wordnet_pos(pos_tag):
    if pos_tag.startswith('J'):
        return wordnet.ADJ
    elif pos_tag.startswith('V'):
        return wordnet.VERB
    elif pos_tag.startswith('N'):
        return wordnet.NOUN
    elif pos_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN
    
init_reviews = []
init_helpfuls = []

for doc in review:
    doc = doc.lower()
    tokens = nltk.regexp_tokenize(doc, pattern)
    tagged_tokens= nltk.pos_tag(tokens)
    lemmatized_words=[wordnet_lemmatizer.lemmatize(word, get_wordnet_pos(tag)) \
          for (word, tag) in tagged_tokens \
          if word not in stop_words and word not in string.punctuation]
    temp_str = ""
    for item in lemmatized_words:
        temp_str = temp_str + " " + item
    init_reviews.append(temp_str[1:])
    
for line in helpfuls:
    if line=="No":
        init_helpfuls.append("0")
    else:
        init_helpfuls.append(line)

df = pd.DataFrame()
df["user_name"] = data["names"].values.tolist()
df["user_product"] = data["products#"].values.tolist()
df["helpful"] = init_helpfuls
df["funny"] = data["marked as funny"].values.tolist()
df["post_date"] = data["post_date"].values.tolist()
df["recommend_or_not"] = data["Recommend?"].values.tolist()
df["game_time"] = data["times on record"].values.tolist()
df["review"] = init_reviews

In [9]:
# df.to_csv('test.csv',index=False)

## Data fomatting

In [34]:
month_lst = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
              'August', 'September', 'October', 'November', 'December']

In [61]:
date_lst = df['post_date'].tolist()
date_lst

['September 14, 2017',
 'October 25, 2017',
 'August 15, 2017',
 'January 4',
 'June 5, 2017',
 'November 22, 2017',
 'March 2',
 'February 5, 2017',
 'January 22',
 'November 16, 2017',
 'November 4, 2017',
 'September 20, 2017',
 'September 23, 2017',
 'August 17, 2017',
 'July 11',
 'February 15',
 'September 15, 2017',
 'December 6, 2017',
 'June 24',
 'December 14, 2017',
 'June 3',
 'May 27, 2017',
 'August 21',
 'September 18, 2017',
 'September 17, 2017',
 'August 11, 2017',
 'September 15, 2016',
 'September 20, 2017',
 'September 14, 2017',
 'October 17, 2017',
 'September 19, 2017',
 'September 28, 2016',
 'October 21, 2017',
 'September 23, 2017',
 'September 17, 2017',
 'August 4',
 'May 20',
 'February 13',
 'June 24, 2017',
 'September 17, 2017',
 'November 7, 2017',
 'January 18',
 'January 19',
 'December 23, 2017',
 'March 13',
 'February 19',
 'September 19, 2017',
 'January 30',
 'April 25',
 'September 14, 2017',
 'January 8',
 'August 30',
 'October 12, 2017',
 'April 3',
 'March 17, 2017',
 'September 20, 2017',
 'January 20',
 'January 13',
 'October 2, 2017',
 'October 17',
 'May 17',
 'April 21',
 'January 1, 2017',
 'September 19, 2017',
 'October 11',
 'July 28, 2017',
 'September 18, 2016',
 'May 10, 2017',
 'May 4, 2017',
 'May 3',
 'September 3, 2017',
 'March 25',
 'March 18, 2017',
 'September 15, 2017',
 'November 24, 2017',
 'August 8, 2017',
 'August 30',
 'February 28',
 'November 24, 2017',
 'August 27, 2017',
 'September 21',
 'December 15, 2017',
 'September 28',
 'September 7, 2017',
 'November 25, 2017',
 'September 3, 2017',
 'September 19, 2017',
 'September 20, 2016',
 'October 11, 2017',
 'September 14, 2017',
 'July 24',
 'July 23',
 'May 11, 2017',
 'September 14, 2017',
 'September 14, 2017',
 'October 7, 2017',
 'August 5',
 'July 5, 2017',
 'September 15, 2017',
 'February 8',
 'September 3',
 'October 5',
 'December 26, 2016',
 'August 25, 2017',
 'September 20, 2017',
 'September 18, 2016',
 'June 11',
 'September 17, 2017',
 'February 2',
 'September 13, 2017',
 'May 26',
 'September 14, 2017',
 'September 15, 2017',
 'June 21, 2017',
 'November 16, 2016',
 'October 1',
 'September 17, 2017',
 'September 7',
 'December 13, 2017',
 'November 7, 2017',
 'March 30, 2017',
 'September 18, 2016',
 'September 27, 2016',
 'September 15, 2017',
 'September 16, 2017',
 'September 18, 2017',
 'September 17, 2016',
 'March 26, 2017',
 'October 20, 2017',
 'September 17, 2017',
 'October 7, 2017',
 'September 25, 2016',
 'August 9, 2017',
 'September 14, 2017',
 'October 12, 2017',
 'June 9',
 'September 12, 2017',
 'July 12',
 'August 31',
 'September 15, 2017',
 'January 25, 2017',
 'August 15',
 'October 4, 2017',
 'September 25, 2017',
 'September 17, 2017',
 'March 13',
 'September 16, 2017',
 'September 18, 2016',
 'August 31',
 'October 7, 2017',
 'May 22',
 'September 16, 2017',
 'September 18, 2017',
 'September 28, 2017',
 'June 25, 2017',
 'October 18, 2017',
 'August 7, 2017',
 'November 18, 2016',
 'September 18, 2017',
 'December 14, 2017',
 'February 7',
 'September 30',
 'September 15, 2017',
 'September 22, 2017',
 'September 19, 2017',
 'February 28',
 'April 16',
 'September 30, 2017',
 'February 17, 2017',
 'September 25, 2017',
 'September 19, 2017',
 'September 25, 2017',
 'May 7',
 'July 6, 2017',
 'October 5, 2017',
 'November 24, 2017',
 'June 7, 2017',
 'April 16, 2017',
 'October 6, 2017',
 'April 6',
 'September 14, 2017',
 'April 24, 2017',
 'September 16, 2017',
 'April 6, 2017',
 'July 27, 2017',
 'September 27, 2017',
 'October 26',
 'September 9, 2017',
 'May 14, 2017',
 'September 14, 2017',
 'March 23',
 'September 19, 2017',
 'July 10',
 'December 8, 2016',
 'September 27, 2016',
 'January 14',
 'July 30',
 'September 15, 2016',
 'August 30',
 'May 30',
 'June 2, 2017',
 'August 7, 2017',
 'February 28, 2017',
 'October 6, 2017',
 'April 5',
 'May 24, 2017',
 'October 1, 2016',
 'September 3, 2017',
 'September 20, 2016',
 'June 13, 2017',
 'September 15, 2017',
 'September 23, 2017',
 'May 25, 2017',
 'September 13, 2017',
 'September 19, 2016',
 'September 30, 2017',
 'November 7, 2016',
 'December 8, 2016',
 'October 11, 2017',
 'September 14, 2017',
 'April 5',
 'September 18, 2017',
 'October 12, 2017',
 'July 2',
 'October 3, 2016',
 'August 3',
 'March 29, 2017',
 'September 19, 2017',
 'October 19, 2017',
 'October 25, 2016',
 'October 25, 2016',
 'November 10, 2017',
 'September 24',
 'June 20',
 'January 28, 2017',
 'September 14, 2017',
 'September 28, 2017',
 'September 19, 2017',
 'January 6',
 'May 17',
 'March 16',
 'September 16, 2016',
 'October 3, 2016',
 'July 11, 2017',
 'October 1, 2016',
 'September 24, 2016',
 'April 4, 2017',
 'January 30',
 'October 21, 2017',
 'December 23, 2017',
 'March 23',
 'September 16, 2017',
 'February 27, 2017',
 'October 7, 2017',
 'June 23',
 'November 23, 2017',
 'September 8, 2017',
 'September 1',
 'December 17, 2016',
 'September 27',
 'January 11, 2017',
 'September 18, 2017',
 'February 15',
 'January 22, 2017',
 'November 23, 2017',
 'October 12, 2017',
 'October 29',
 'September 26, 2017',
 'October 3, 2017',
 'September 16, 2017',
 'July 20, 2017',
 'September 11, 2017',
 'October 8, 2017',
 'August 5',
 'September 22, 2016',
 'October 5',
 'October 14',
 'March 10',
 'September 26, 2017',
 'September 14, 2017',
 'April 13',
 'May 11, 2017',
 'October 16, 2017',
 'August 25, 2017',
 'September 16, 2016',
 'September 15, 2017',
 'September 16, 2017',
 'July 4',
 'September 10',
 'September 23, 2017',
 'March 30, 2017',
 'September 15, 2016',
 'September 18, 2017',
 'October 3, 2017',
 'September 16, 2016',
 'March 24',
 'February 18, 2017',
 'December 2, 2017',
 'July 5',
 'September 14, 2017',
 'October 6, 2017',
 'November 18, 2017',
 'September 14, 2017',
 'September 16, 2017',
 'November 18, 2017',
 'December 12, 2016',
 'October 9, 2016',
 'July 22',
 'September 29, 2016',
 'May 2',
 'October 13, 2017',
 'September 16, 2016',
 'April 18, 2017',
 'September 14, 2017',
 'May 5, 2017',
 'January 6, 2017',
 'September 19, 2017',
 'April 22, 2017',
 'March 28',
 'June 18, 2017',
 'March 28',
 'January 20, 2017',
 'September 16, 2016',
 'June 25',
 'September 15, 2016',
 'October 1, 2017',
 'October 8, 2017',
 'September 14, 2017',
 'September 14, 2017',
 'November 27, 2017',
 'May 1, 2017',
 'September 16, 2017',
 'June 22, 2017',
 'October 8, 2017',
 'November 18, 2017',
 'September 19, 2017',
 'September 10, 2017',
 'November 22, 2017',
 'September 23, 2016',
 'September 15, 2017',
 'September 14, 2017',
 'October 8, 2017',
 'September 22, 2016',
 'September 29, 2017',
 'November 7, 2017',
 'September 14, 2017',
 'September 14, 2017',
 'May 27',
 'August 6',
 'September 15, 2016',
 'September 23, 2016',
 'June 22, 2017',
 'May 1, 2017',
 'November 18, 2017',
 'October 1, 2017',
 'September 14, 2017',
 'September 14, 2017',
 'September 16, 2017',
 'November 27, 2017',
 'October 8, 2017',
 'October 3, 2016',
 'January 16, 2017',
 'September 17, 2016',
 'September 15, 2017',
 'May 5',
 'September 20, 2016',
 'September 19, 2016',
 'September 18, 2017',
 'December 26, 2017',
 'October 4, 2016',
 'May 9, 2017',
 'September 16, 2016',
 'February 25',
 'September 16, 2017',
 'February 11',
 'September 30, 2017',
 'August 28, 2017',
 'September 12, 2017',
 'September 14, 2017',
 'June 27',
 'June 27',
 'October 12, 2016',
 'November 3, 2017',
 'September 21, 2017',
 'October 22, 2017',
 'December 2, 2017',
 'September 20, 2016',
 'June 25, 2017',
 'September 5, 2017',
 'October 23',
 'September 15, 2016',
 'September 21, 2017',
 'September 20, 2017',
 'September 28, 2017',
 'February 12',
 'December 23, 2017',
 'September 8, 2017',
 'August 26, 2017',
 'October 1, 2017',
 'November 22, 2017',
 'September 26, 2017',
 'September 22, 2017',
 'September 24, 2017',
 'September 21, 2017',
 'September 22, 2017',
 'September 15, 2017',
 'October 1, 2017',
 'November 22, 2017',
 'January 22',
 'November 2, 2017',
 'October 1, 2017',
 'September 26, 2017',
 'December 23, 2017',
 'September 8, 2017',
 'November 23, 2017',
 'September 21, 2017',
 'September 18, 2017',
 'September 20, 2017',
 'March 2, 2017',
 'September 14, 2017',
 'August 26, 2017',
 'October 1, 2017',
 'December 23, 2017',
 'September 14, 2017',
 'September 10, 2017',
 'March 22',
 'October 16, 2017',
 'October 11, 2017',
 'September 24, 2017',
 'September 23, 2017',
 'December 22, 2017',
 'September 15, 2017',
 'September 28, 2017',
 'January 20',
 'September 6, 2017',
 'September 15, 2017',
 'September 11, 2017',
 'October 13, 2017',
 'September 6, 2017',
 'September 3, 2017',
 'September 6, 2017',
 'September 28, 2017',
 'September 20, 2017',
 'September 19, 2017',
 'September 14, 2017',
 'September 14, 2017',
 'September 14, 2017',
 'September 15, 2017',
 'September 26, 2017',
 'September 15, 2017',
 'October 31, 2017',
 'February 11',
 'September 14, 2017',
 'February 13',
 'November 23, 2017',
 'September 21, 2017',
 'September 18, 2017',
 'August 26, 2017',
 'October 1, 2017',
 'December 23, 2017',
 'September 15, 2017',
 'November 25, 2017',
 'January 6',
 'July 5',
 'May 26, 2017',
 'November 2, 2017',
 'September 13, 2017',
 'January 3',
 'November 22, 2017',
 'January 22',
 'December 18, 2017',
 'September 19, 2017',
 'September 6, 2017',
 'September 3, 2017',
 'November 22, 2017',
 'January 22',
 'September 13, 2017',
 'January 3',
 'May 26',
 'October 31, 2017',
 'March 22',
 'October 16, 2017',
 'October 11, 2017',
 'September 18, 2017',
 'September 19, 2017',
 'September 23, 2017',
 'September 23, 2017',
 'November 17, 2017',
 'November 22, 2017',
 'June 30',
 'September 15, 2017',
 'June 30',
 'September 15, 2017',
 'April 23',
 'September 11, 2017',
 'October 23, 2017',
 'November 22, 2017',
 'October 8, 2017',
 'May 19',
 'September 25, 2016',
 'March 5',
 'October 10, 2017',
 'August 25, 2017',
 'September 14, 2017',
 'October 26, 2016',
 'November 26, 2017',
 'September 22, 2017',
 'September 4',
 'September 22, 2017',
 'October 4, 2017',
 'September 14, 2017',
 'October 26, 2016',
 'September 28, 2016',
 'September 9, 2017',
 'September 4, 2017',
 'September 17, 2017',
 'October 29, 2016',
 'September 14, 2017',
 'September 15, 2017',
 'September 14, 2017',
 'September 15, 2017',
 'September 14, 2017',
 'September 4, 2017',
 'September 14, 2017',
 'October 26, 2016',
 'September 28, 2016',
 'September 14, 2017',
 'September 17, 2017',
 'November 26, 2017',
 'September 4',
 'September 26, 2017',
 'October 29, 2016',
 'September 28, 2016',
 'September 9, 2017',
 'September 23, 2017',
 'September 23, 2017',
 'September 23, 2017',
 'September 22, 2017',
 'April 29',
 'October 10, 2016',
 'September 19, 2016',
 'October 10, 2016',
 'September 25, 2017',
 'September 18, 2017',
 'September 23, 2017',
 'October 24, 2017',
 'September 28, 2017',
 'September 21, 2017',
 'September 12, 2017',
 'November 25, 2017',
 'September 16, 2017',
 'October 13, 2017',
 'January 24',
 'September 21, 2017',
 'October 24, 2017',
 'September 11, 2017',
 'September 24, 2017',
 'October 23, 2017',
 'September 21, 2017',
 'September 21, 2017',
 'November 18, 2017',
 'September 22, 2017',
 'November 22, 2017',
 'September 15, 2017',
 'November 21, 2017',
 'October 13, 2017',
 'August 26, 2017',
 'September 21, 2017',
 'January 24',
 'September 28, 2017',
 'January 21',
 'November 25, 2017',
 'November 26, 2017',
 'May 21',
 'November 28, 2017',
 'September 26, 2017',
 'October 22, 2017',
 'July 2',
 'November 27, 2017',
 'October 1, 2017',
 'September 3, 2017',
 'September 5, 2017',
 'September 7, 2017',
 'September 15, 2017',
 'September 4, 2017',
 'August 31',
 'September 25, 2017',
 'January 31',
 'November 25, 2017',
 'September 13, 2017',
 'March 25, 2017',
 'March 25',
 'November 19, 2017',
 'September 21, 2017',
 'October 4, 2017',
 'September 19, 2017',
 'September 21, 2017',
 'October 19, 2017',
 'October 19, 2017',
 'September 13, 2017',
 'November 5, 2017',
 'November 24, 2017',
 'November 24, 2017',
 'February 13',
 'November 15, 2017',
 'July 2',
 'October 1, 2017',
 'November 28, 2017',
 'January 21',
 'September 26, 2017',
 'January 21',
 'September 17, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 20, 2017',
 'September 22, 2017',
 'November 5, 2017',
 'November 24, 2017',
 'October 3, 2017',
 'May 23',
 'September 24, 2017',
 'August 30',
 'September 27, 2017',
 'September 14, 2017',
 'September 28, 2017',
 'September 15, 2017',
 'September 15, 2017',
 'April 9',
 'March 10',
 'September 30, 2017',
 'February 20',
 'September 9, 2017',
 'September 9, 2017',
 'September 7, 2017',
 'September 15',
 'August 30',
 'March 25',
 'September 19, 2017',
 'September 20, 2017',
 'September 14, 2017',
 'November 25, 2017',
 'September 10, 2017',
 'September 10, 2017',
 'September 17, 2017',
 'January 2',
 'September 17, 2017',
 'October 14, 2017',
 'September 23, 2017',
 'August 31',
 'September 17, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 20, 2017',
 'September 14, 2017',
 'September 7, 2017',
 'September 15, 2017',
 'September 4, 2017',
 'February 2, 2017',
 'August 31',
 'September 25, 2017',
 'September 23, 2017',
 'October 9, 2017',
 'September 25, 2017',
 'October 8, 2017',
 'September 22, 2017',
 'October 2, 2017',
 'September 24, 2017',
 'October 20, 2017',
 'August 25, 2017',
 'April 15',
 'October 30, 2017',
 'November 28, 2017',
 'September 20, 2016',
 'September 20, 2017',
 'October 3, 2017',
 'September 26, 2017',
 'October 14, 2017',
 'January 2',
 'September 10, 2017',
 'September 10, 2017',
 'September 17, 2017',
 'September 30, 2017',
 'November 15, 2017',
 'February 13',
 'November 22, 2017',
 'September 30, 2017',
 'September 17, 2017',
 'September 16, 2017',
 'September 22, 2017',
 'October 2, 2017',
 'September 22, 2017',
 'November 7, 2017',
 'September 30, 2017',
 'September 15, 2017',
 'September 6, 2017',
 'September 17, 2017',
 'January 4',
 'September 19, 2017',
 'May 25, 2017',
 'October 10, 2017',
 'November 4, 2017',
 'September 27, 2017',
 'September 14, 2017',
 'January 5',
 'January 15',
 'April 25',
 'November 27, 2017',
 'September 24, 2017',
 'October 18, 2017',
 'October 3, 2017',
 'May 23',
 'October 7, 2017',
 'September 14, 2017',
 'August 25, 2017',
 'September 21, 2017',
 'September 30, 2017',
 'January 24',
 'September 14, 2017',
 'September 6, 2017',
 'August 25, 2017',
 'September 22, 2017',
 'October 2, 2017',
 'September 24, 2017',
 'September 23, 2017',
 'September 18, 2017',
 'February 3',
 'November 22, 2017',
 'November 18, 2017',
 'February 13',
 'September 21, 2017',
 'August 26, 2017',
 'November 24, 2017',
 'November 23, 2017',
 'November 15, 2017',
 'September 17, 2017',
 'November 25, 2017',
 'January 24',
 'September 12, 2017',
 'September 28, 2017',
 'September 21, 2017',
 'September 19, 2017',
 'September 21, 2017',
 'September 6, 2017',
 'September 21, 2017',
 'October 1, 2017',
 'September 30, 2017',
 'October 1, 2017',
 'September 15, 2017',
 'September 20, 2017',
 'September 15, 2017',
 'September 15, 2017',
 'November 22, 2017',
 'September 30, 2017',
 'September 17, 2017',
 'October 9, 2017',
 'September 26, 2017',
 'September 22, 2017',
 'October 8, 2017',
 'September 25, 2017',
 'September 30, 2017',
 'October 7, 2017',
 'September 23, 2017',
 'September 24, 2017',
 'September 30, 2017',
 'September 30, 2017',
 'September 21, 2017',
 'September 25, 2017',
 'September 20, 2017',
 'September 24, 2017',
 'March 25',
 'November 19, 2017',
 'September 15, 2017',
 'January 19',
 'September 13, 2017',
 'September 5',
 'September 27, 2016',
 'September 23, 2017',
 'October 24, 2017',
 'September 21, 2017',
 'August 27, 2017',
 'October 13, 2017',
 'August 26, 2017',
 'September 21, 2017',
 'September 16, 2017',
 'November 12, 2017',
 'December 16, 2017',
 'March 31',
 'December 16, 2017',
 'December 30, 2017',
 'May 18',
 'September 17, 2017',
 'January 15',
 'November 23, 2017',
 'September 11, 2017',
 'October 28, 2017',
 'September 15, 2017',
 'September 20, 2017',
 'September 15, 2017',
 'September 15, 2017',
 'November 22, 2017',
 'September 30, 2017',
 'September 17, 2017',
 'September 16, 2017',
 'October 1, 2017',
 'September 20, 2017',
 'September 21, 2017',
 'September 16, 2017',
 'September 12, 2017',
 'September 22, 2017',
 'October 2, 2017',
 'September 22, 2017',
 'November 7, 2017',
 'October 6, 2016',
 'October 10, 2017',
 'September 11, 2017',
 'August 23',
 'March 23',
 'September 28, 2017',
 'September 28, 2017',
 'September 28, 2017',
 'October 2, 2017',
 'November 23, 2017',
 'October 15, 2017',
 'September 14, 2017',
 'September 17, 2017',
 'October 20, 2017',
 'September 28, 2017',
 'September 21, 2017',
 'September 6, 2017',
 'September 27, 2017',
 'September 12, 2017',
 'November 22, 2017',
 'September 18, 2017',
 'November 28, 2017',
 'September 16, 2017',
 'September 18, 2016',
 'March 25',
 'November 19, 2017',
 'October 11, 2017',
 'October 29',
 'September 15, 2017',
 'August 23',
 'March 23',
 'September 23, 2017',
 'September 25, 2017',
 'September 25, 2017',
 'September 19, 2017',
 'September 21, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'September 19, 2017',
 'November 10, 2017',
 'September 10',
 'November 23, 2017',
 'September 15, 2017',
 'September 25, 2017',
 'September 25, 2017',
 'September 17, 2017',
 'September 17, 2017',
 'August 31, 2017',
 'September 17, 2017',
 'October 29',
 'October 6, 2017',
 'September 13, 2017',
 'September 14, 2017',
 'October 6, 2017',
 'September 7, 2017',
 'December 31, 2017',
 'August 26, 2017',
 'August 13, 2017',
 'October 28, 2017',
 'January 19, 2017',
 'December 27, 2017',
 'September 9, 2017',
 'September 10, 2017',
 'September 15, 2017',
 'January 19, 2017',
 'December 27, 2017',
 'October 8, 2016',
 'September 19, 2016',
 'September 19, 2016',
 'October 19',
 'October 28, 2017',
 'September 15, 2016',
 'January 27',
 'September 7',
 'September 14, 2017',
 'January 12',
 'September 25, 2017',
 'September 30, 2017',
 'September 25, 2017',
 'November 15, 2017',
 'February 23',
 'September 23, 2017',
 'September 15, 2017',
 'September 10, 2017',
 'September 15',
 'September 7',
 'September 14, 2017',
 'October 1, 2017',
 'October 3, 2017',
 'September 15, 2016',
 'September 13, 2017',
 'September 14, 2017',
 'September 19, 2017',
 'September 6, 2017',
 'September 9, 2017',
 'September 9, 2017',
 'September 23, 2017',
 'August 31, 2017',
 'December 17, 2017',
 'September 22, 2017',
 'September 3, 2017',
 'December 22, 2017',
 'October 1, 2017',
 'September 5, 2017',
 'October 3, 2017',
 'September 19, 2017',
 'September 6, 2017',
 'September 9, 2017',
 'December 3, 2017',
 'September 26, 2017',
 'September 23, 2017',
 'September 14, 2017',
 'September 16, 2016',
 'September 15, 2017',
 'September 17, 2017',
 'September 28, 2017',
 'September 3, 2017',
 'August 31, 2017',
 'September 13, 2017',
 'September 19, 2017',
 'December 22, 2017',
 'September 15, 2017',
 'September 22, 2017',
 'August 31, 2017',
 'September 3, 2017',
 'September 3, 2017',
 'September 14, 2017',
 'September 30, 2017',
 'September 13, 2017',
 'September 21, 2017',
 'September 21, 2017',
 'September 14, 2017',
 'September 9, 2017',
 'September 15, 2016',
 'September 28, 2017',
 'July 11, 2017',
 'December 22, 2017',
 'January 27',
 'September 15, 2017',
 'October 14, 2017',
 'October 15, 2017',
 'October 1, 2017',
 'October 1, 2017',
 'September 6, 2017',
 'November 22, 2017',
 'September 13, 2017',
 'September 14, 2017',
 'September 14, 2017',
 'September 13, 2017',
 'September 21, 2017',
 'September 21, 2017',
 'September 14, 2017',
 'September 21, 2017',
 'September 25, 2017',
 'August 20',
 'December 30, 2017',
 'September 10, 2017',
 'September 21, 2017',
 'October 4, 2017',
 'October 5, 2017',
 'September 15, 2016',

In [45]:
from_date="Feb 15 2010"
import time                
conv=time.strptime(from_date,"%b %d %Y")
time.strftime("%d/%m/%Y",conv)

'15/02/2010'

In [60]:
# 单独提出一行
from datetime import datetime
print(date_lst[0])
temp=date_lst[0].split(',')
#temp.append(' 2018')
print(temp)
date_list=''.join(temp)
print(date_list)
type(date_list)
#datetime('Feb 15 2010', "%b %d %Y").strftime("%d/%m/%Y")
conv=time.strptime(date_list,"%B %d %Y")
time.strftime("%Y/%m/%d",conv)

September 14, 2017
['September 14', ' 2017']
September 14 2017

'2017/09/14'

In [62]:
a=['January 4','May 5']
b=a[0].split(',')
b
# temp=['September 14', ' 2017']
# date_list=''.join(temp)
# date_list

['January 4']

In [66]:
date_list=[]
for i in range(len(df)):
    temp=date_lst[i].split(',')
    if len(temp)==1:
        temp.append(' 2018')
    if len(temp)==2:
        date_temp=''.join(temp)
        conv=time.strptime(date_temp,"%B %d %Y")
        date_temp2=time.strftime("%Y/%m/%d",conv)
        date_list.append(date_temp2)
date_list
df["post_date"]=date_list

In [16]:
# new_date_lst=[]
# for i in range(1,len(date_lst)):
#     if date_lst[i].split(' ')[0] in month_lst:
#         new_date_lst.append(monthToNum(date_lst[i].split(' ')[0]))

In [69]:
#df = pd.read_csv('C:/Users/yongk/Documents/PythonLearning/Steam Data Analysis/Data/game_data_all_v2.csv')

## sort the df

In [68]:
df.sort_values(by='post_date')

,user_name,user_product,helpful,funny,post_date,recommend_or_not,game_time,review
2956,Shadowblazen,55,44,23,2016/09/15,Not Recommended,3.1,initial introduction lack direction goal uncle...
951,@Neiffarious,236,4,0,2016/09/15,Recommended,57.6,brother play first act i'm say get content i'm...
978,SOPMOD Musket,463,4,0,2016/09/15,Recommended,195.5,pretty good far early access impress see far c...
907,@Neiffarious,236,4,0,2016/09/15,Recommended,57.6,brother play first act i'm say get content i'm...
197,ArenMook,174,16,0,2016/09/15,Recommended,390.6,enjoy first divinity original sin owe pick one...
349,ReaperX30,306,13,1,2016/09/15,Recommended,14.0,back first one kicksarter own pc xbox one alre...
26,saturn missiles,183,253,2,2016/09/15,Recommended,341.5,simply put divinity original sin expands best ...
3119,Tri Poloski Gopnik,477,0,0,2016/09/15,Not Recommended,86.9,crappy armor system make chore play
2197,PZDC 88 GABEN 420 MULTIKULT NPC,107,0,0,2016/09/15,Not Recommended,188.7,disappoint full bug unfinished compare first one
291,A Catgirl is Fine Too,394,20,2,2016/09/15,Recommended,108.5,first original sin favorite title 2014 impatie...
889,Jackal 🎃,519,9,0,2016/09/15,Recommended,25.1,glad opt early access might seem pricey early ...
324,LugdunonTG,744,16,0,2016/09/15,Recommended,91.7,love divinity original sin co-op single player...
3135,Niklasgunner,384,0,0,2016/09/15,Not Recommended,79.0,change do combat fix apparent issue first repl...
390,Kozzy - Red Dead Redemption 2!,587,15,0,2016/09/15,Recommended,194.8,divinity original sin good divinity original s...
322,TheokolesTW,97,12,3,2016/09/16,Recommended,76.9,bad aspect play early access even though get p...
371,Lshorty,211,14,0,2016/09/16,Recommended,265.4,mainly buy support develpoers know final produ...
311,Dhr. Bernard,413,21,20,2016/09/16,Recommended,18.7,tbh own original sin nonsense aside though rea...
2849,trs31,133,40,3,2016/09/16,Not Recommended,145.0,early access expect anything close polish enha...
930,Pancake,694,4,0,2016/09/16,Recommended,377.6,often say improve every aspect first already g...
284,Xilil,57,14,0,2016/09/16,Recommended,127.9,everything make original sin plus load extra a...
3088,SpitRoast,195,14,85,2016/09/16,Not Recommended,0.4,didnt play first interested second refund butt...
241,Apollo,"1,168",15,0,2016/09/16,Recommended,199.3,start say huge fan last come high expectation ...
1043,Abra,392,2,0,2016/09/16,Recommended,129.9,i'm amaze far put roleplay back rpg could pote...
294,Kapy,89,13,1,2016/09/16,Recommended,48.6,quick review bloody dark lot choice similiar f...
362,Riffnugget,170,13,0,2016/09/17,Recommended,22.1,first hour see bug feel polished early access ...
126,n00blet (AU),558,79,2,2016/09/17,Recommended,222.3,love first one second even well finish first p...
121,Jiohn Galileo,150,60,2,2016/09/18,Recommended,115.0,alpha already polish play do see crowdfunded f...
66,Johnp92,145,60,0,2016/09/18,Recommended,219.7,invest early access here's larian always compl...
841,Velgrudo,361,3,0,2016/09/18,Recommended,49.8,play first think stupendous saw second one ann...
147,Chronic,154,162,9,2016/09/18,Recommended,9.0,developer still remember make good thumb larian
...,...,...,...,...,...,...,...,...
2391,Cronosnek,135,2,0,2018/10/12,Not Recommended,109.7,recent update cannot reccomend buy fix terribl...
2406,Asriel~,138,4,2,2018/10/13,Not Recommended,262.5,first i'd like say i'm troll merely attempt pr...
276,Flame1280,183,20,16,2018/10/14,Recommended,454.2,king gizzard lizard wizard
2243,tntwhovian,103,10,0,2018/10/14,Not Recommended,28.7,first amaze sometimes long could lose way bit ...
2144,buemmschaf,573,9,0,2018/10/16,Not Recommended,82.9,good great full awesome stuff also full howeve...
2102,Idiot Ruins Game,102,5,1,2018/10/16,Not Recommended,150.6,i've try hard like i've read review gush hate ...
59,Metsakurat,"1,205",38,0,2018/10/17,Recommended,120.7,masterpiece take around 100 hour finish world ...
2602,TheStratovarian,635,1,1,2018/10/17,Not Recommended,68.0,lovely arguably good potential unfortunately p...
2547,Just Lewis,294,0,0,2018/10/19,Not Recommended,24.6,far difficult enjoy play well forget save repl...
2559,Just Lewis,294,0,0,2018/10/19,Not Recommended,24.6,far difficult enjoy play well forget save repl...
887,NAVID | $TEAMGIFTS.ir,262,6,1,2018/10/19,Recommended,16.6,amaze
1758,Sarcastic Alien,0,2,0,2018/10/20,Recommended,2.7,truly amazing best rpg ever play literally wor...
1723,Cubertt,377,2,0,2018/10/21,Recommended,213.7,good
2427,ShuffleBear,27,1,2,2018/10/21,Not Recommended,88.0,great concept badly desgined full bug unplayab...
2173,venpas,61,1,2,2018/10/22,Not Recommended,10.3,audio beautiful otherwise really rather boring
2397,Nervous Energy,171,1,0,2018/10/23,Not Recommended,168.8,well complete guess 80 odds really enjoy first...
389,Cydraech,382,6,2,2018/10/23,Recommended,199.3,hold free update high quality impactful decisi...
2175,Aleph Eaters Sergbae <3,242,1,1,2018/10/23,Not Recommended,21.4,definitive edition buggy af didnt load second ...
186,Bethrezen,545,18,0,2018/10/26,Recommended,144.6,finish wife play mage healer play tank melee d...
2273,ZoniucSnake,29,6,0,2018/10/26,Not Recommended,292.0,experience avoid definitive edition full bug s...
2449,awmathews,366,3,6,2018/10/27,Not Recommended,31.6,try start high hope cannot travel freely easil...
2450,awmathews,366,3,6,2018/10/27,Not Recommended,31.6,try start high hope cannot travel freely easil...
2320,Pun|-,20,1,0,2018/10/28,Not Recommended,158.6,really enjoy blow last quarter competely ridic...
2393,Questing [D20],341,1,0,2018/10/28,Not Recommended,9.5,release definitive edition unable change video...
3065,M3ta4 (György Schwartz),222,1,6,2018/10/29,Not Recommended,0.9,ok
266,Mr. Pink,266,8,5,2018/10/29,Recommended,322.9,ruin life best possible way
845,Felpa,41,3,0,2018/10/29,Recommended,311.6,well first review spend around 300hrs play rea...
867,Felpa,41,3,0,2018/10/29,Recommended,311.6,well first review spend around 300hrs play rea...
2836,Badjojo,210,0,0,2018/10/30,Not Recommended,85.0,overtuned
2071,Berserker Queen,87,0,0,2018/10/30,Not Recommended,54.7,mixed review could thoroughly praise i'll quic...

## Demo: delete the row with null value

In [127]:
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(4,3), columns=list('xyz'))
df

   x   y   z
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [128]:
df1=df.replace(5,'')
df1

   x   y   z
0  0   1   2
1  3   4
2  6   7   8
3  9  10  11

In [129]:
a=df1[df1.z==''].index.tolist()

In [130]:
df1.drop(df1.index[a])
# alternative
# df.where(df.review=='').dropna

   x   y   z
0  0   1   2
2  6   7   8
3  9  10  11

In [131]:
df1

   x   y   z
0  0   1   2
1  3   4
2  6   7   8
3  9  10  11

**test selection on which I want**

In [104]:
df = pd.DataFrame({'BoolCol': [1, 2, 3, 3, 4],'attr': [22, 33, 22, 44, 66]},
       index=[10,20,30,40,50])
print(df)
a = df[(df.BoolCol==3)&(df.attr==22)].index.tolist()
print(a)

    BoolCol  attr
10        1    22
20        2    33
30        3    22
40        3    44
50        4    66
[30]

**test function call process**

In [4]:
import pandas as pd
def x(index):
    df = pd.DataFrame({'BoolCol': [1, 2, 3, 3, 4],'attr': [22, 33, 22, 44, 66]},index)
    return df

In [5]:
index=[10,20,30,40,50]
x(index)

    BoolCol  attr
10        1    22
20        2    33
30        3    22
40        3    44
50        4    66

**test string operator +**

In [3]:
address='http://steamcommunity.com/app/435150/homecontent/?userreviewsoffset='
url=address+'a'
url

'http://steamcommunity.com/app/435150/homecontent/?userreviewsoffset=a'

**test df concat function**

In [19]:
import numpy as np
df1=pd.DataFrame(np.random.randn(3,4),columns=['a','b','c','d'])

In [20]:
df1

          a         b         c         d
0  1.687330  2.264889  1.225038 -0.084853
1  0.485092  1.449368  0.470558  0.224558
2 -0.004366 -0.450719 -0.368497  0.263544

In [26]:
df2=pd.DataFrame(np.random.randn(2,3),columns=['b','d','a'])

In [27]:
df2

          b         d         a
0 -1.337369 -1.938500  1.397798
1  1.406051  0.475992  1.140396

In [28]:
 pd.concat([df1,df2])

          a         b         c         d
0  1.687330  2.264889  1.225038 -0.084853
1  0.485092  1.449368  0.470558  0.224558
2 -0.004366 -0.450719 -0.368497  0.263544
0  1.397798 -1.337369       NaN -1.938500
1  1.140396  1.406051       NaN  0.475992

In [29]:
pd.concat([df1,df2],ignore_index=True)

          a         b         c         d
0  1.687330  2.264889  1.225038 -0.084853
1  0.485092  1.449368  0.470558  0.224558
2 -0.004366 -0.450719 -0.368497  0.263544
3  1.397798 -1.337369       NaN -1.938500
4  1.140396  1.406051       NaN  0.475992

In [30]:
def y():
    print('o')
y()

o